<?xml version="1.0"?>
<model>
  <name>warshift</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Thomas Wozniak</name>
   <email>twozniak@iastate.edu</email>
  </author>

  <description>
    This is a model of a flying wing aircraft developed for AerE 4600x at Iowa State University.
  </description>
</model>
